<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Dashboard - DemocraNet</title>
    <link data-th-href="@{'/css/output.css'}" rel="stylesheet"/>
</head>

<body class="dark:bg-black dark:text-white">
<div class="sm:w-full md:w-3/4 lg:w-2/3 p-4 mx-auto space-y-6 min-h-screen text-gray-800 dark:text-white" id="content">
    <h1>Dashboard</h1>
</div>

<script>

</script>
</body>
</html>